<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset= "utf-8"/>
    <meta name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Michelle Tang">
    <meta name="description" content="Content for HTML Webpage">
    <meta name="keywords" content="add keywords here">

		<title>My HTML 5 Template</title>
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
    <header>
      <h1>Michelle Tang's HTML Template</h1>
    </header>


    <script src="index.js"></script>
  </body>
</html>
